html, body{
    color: grey;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.8;
}

#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    border-right: solid;
    border-color: black;
    
}

header{
    color: black;
    font-size: 25px;
    margin: 15px;
    font-size: 1.8em;
    text-align: center;

}

#main-doc header{
text-align: left;
margin: 0px;
}

#navbar li{
    color: grey;
    border: 1px solid;
    padding: 10px

}
#navbar ul{
    height: 70%
}
#navbar a{
    color: grey;
    cursor: pointer;
}
#main-doc{
    margin-left: 200px;
    padding: 20px;
    position: absolute;

}
section article{
    color: gray;
    margin: 15px;
    font-size: 0.8em;

}
section li{
    margin: 15px 0px 0px 20px;

}
code{
    padding: 10px;
    margin: 10px;
    background-color: peachpuff

}